<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dynamic Labz | Leading Experts in Website Development & Automation Services</title>

<!-- Meta Description -->
<meta name="description" content="Dynamic Labz offers top-notch services in website development, bot development, e-commerce assistance, and automation. Transform your digital presence with our innovative solutions.">

<!-- Meta Keywords -->
<meta name="keywords" content="Dynamic Labz, dynamic labz, website development, bot development, e-commerce assistance, automation services, digital transformation">

<!-- Meta Author -->
<meta name="author" content="Dynamic Labz">

<!-- Meta Viewport for Responsive Design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph Meta Tags for Social Media Integration -->
<meta property="og:site_name" content="Dynamic Labz" /> <!-- website name -->
<meta property="og:site" content="https://www.dynamiclabz.net" /> <!-- website link -->
<meta property="og:title" content="Dynamic Labz - Leading Experts in Website Development & Automation Services">
<meta property="og:description" content="Dynamic Labz offers top-notch services in website development, bot development, e-commerce assistance, and automation. Transform your digital presence with our innovative solutions.">
<meta property="og:image" content="https://www.dynamiclabz.net/static/assets/images/Dynamic Labz.png">
<meta property="og:url" content="https://www.dynamiclabz.net">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags for Twitter Integration -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Dynamic Labz - Leading Experts in Website Development, Bot Development, and Automation Services">
<meta name="twitter:description" content="Dynamic Labz offers top-notch services in website development, bot development, e-commerce assistance, and automation. Transform your digital presence with our innovative solutions.">
<meta name="twitter:image" content="https://www.dynamiclabz.net/static/assets/images/Dynamic Labz.png">
<meta name="twitter:url" content="https://www.dynamiclabz.net">

<!-- Canonical Tag -->
<link rel="canonical" href="https://www.dynamiclabz.net">


<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "name": "Dynamic Labz",
	  "url": "https://www.dynamiclabz.net",
	  "logo": "https://www.dynamiclabz.net/static/assets/images/Dynamic Labz.png",
	  "contactPoint": {
		"@type": "ContactPoint",
		"telephone": "+91 9016971591",
		"contactType": "Customer Service"
	  }
	}
	</script>
	













<!-- Stylesheets -->
<link href="/static/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/assets/css/style.css" rel="stylesheet">
<link href="/static/assets/css/meanmenu.min.css" rel="stylesheet">
<link href="/static/assets/css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/assets/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

<div class="page-wrapper">
	{% include 'header.html' %}

	<!-- Banner One -->
	<section class="banner-one">
		<div class="banner-one_shadow" style="background-image: url(/static/assets/images/main-slider/banner-bg.png)"></div>
		<div class="auto-container">
			<!-- Content Column -->
			<div class="banner-one_content">
				<div class="banner-one_content-inner">
					<div class="banner-one_title text-white"><i><img src="/static/assets/images/main-slider/hand.png" alt="" /></i> Empower. Innovate. Automate.</div>
					<h1 class="banner-one_heading">Transforming <span><u>Digital Dreams</u></span> into Reality</h1>
					<div class="banner-one_text text">Welcome to <b>Dynamic Labz</b>, where innovation meets expertise. We specialize in delivering top-notch Websites, Bots, and Automation solutions tailored to elevate your business.</div>
					<div class="banner-one_newsletter">
						<div class="newsletter-box">
							<form id="main_form">
								<div class="form-group">
									<span class="icon fa-regular fa-envelope fa-fw"></span>
									<input type="email" name="search-field" value="" id="main_email_id" placeholder="Enter business email" required>
									<button type="button" onclick="main_email()" class="template-btn btn-style-one" id="main_submit_btn">
										<span class="btn-wrap">
											<span class="text-one" id="main_submit_btn_one">Connect with us</span>
											<span class="text-two" id="main_submit_btn_two">Connect with us</span>
										</span>
									</button>
								</div>
							</form>
						</div>
						<!-- <ul class="banner-one_list">
							<li><i class="fa-solid fa-check fa-fw"></i>Free 1  month trail</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Free No credit card required</li>
						</ul> -->
					</div>
				</div>
			</div>
			<!-- <div class="banner-one_icon" style="background-image: url(/static/assets/images/main-slider/banner-icon.png)"></div> -->
			<div class="banner-one_image">
				<br><br><br>
				<!-- <img src="/static/assets/images/main-slider/banner.jpg" alt="" /> -->
			</div>
		</div>
	</section>
	<!-- End Main Banner One -->

	<!-- Assistance One -->
	<section class="assistance-one">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title style-two centered">
				<div class="sec-title_title">Our Services</div>
				<h2 class="sec-title_heading">Discover the services of <br> <span>Dynamic Labz</span></h2>
			</div>
			<div class="three-item_carousel swiper-container">
				<div class="swiper-wrapper">

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="fa fa-laptop-code"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'Website_Development' %}">Website Development</a></h5>
								<div class="service-block_three-text">Crafting visually stunning and highly functional websites that engage and convert customers.</div>
								<a class="service-block_three-more" href="#website_details">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>
					
					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="icon-magnet"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'Lead_Generation_Bot' %}">Lead generation bots</a></h5>
								<div class="service-block_three-text">Boost your sales with our intelligent lead generation bots that capture and nurture leads effortlessly.</div>
								<a class="service-block_three-more" href="#lead_gen_bot">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="icon-cart"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'E_Commerce_Assistance' %}">E-commerce assistance</a></h5>
								<div class="service-block_three-text">Enhance your online store with smart solutions for a seamless and efficient shopping experience.</div>
								<a class="service-block_three-more" href="#ecommerce_asst">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="fa fa-display"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'SAP_Automation' %}">SAP Automation</a></h5>
								<div class="service-block_three-text">Our SAP automation services are designed to streamline your SAP processes, reducing manual effort.</div>
								<a class="service-block_three-more" href="{% url 'SAP_Automation' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>
					
					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="fa fa-robot"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'Automation_Services' %}">Automation Services</a></h5>
								<div class="service-block_three-text">Optimize your operations with our custom automation solutions, designed to enhance efficiency and productivity</div>
								<a class="service-block_three-more" href="#automation_services">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="fa-brands fa-whatsapp"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'Whatsapp_Automation' %}">WhatsApp Automation</a></h5>
								<div class="service-block_three-text">Boost your marketing efforts, Automate messages, manage inquiries, and enhance customer engagement effortlessly.</div>
								<a class="service-block_three-more" href="{% url 'Whatsapp_Automation' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- Service Block Three -->
						<div class="service-block_three">
							<div class="service-block_three-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="service-block_three-dots" style="background-image: url(/static/assets/images/icons/icon-2.png)"></div>
								<div class="service-block_three-circles" style="background-image: url(/static/assets/images/icons/service-three_circle.png)"></div>
								<div class="color-layer"></div>
								<div class="service-block_three-icon">
									<i class="fa fa-table"></i>
								</div>
								<h5 class="service-block_three-heading"><a href="{% url 'Excel_Automation' %}">Excel Automation</a></h5>
								<div class="service-block_three-text">Transform your data management with our Excel Automation service. Automate repetitive tasks and boost productivity..</div>
								<a class="service-block_three-more" href="{% url 'Excel_Automation' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
							</div>
						</div>
					</div>					

				</div>

				<!-- If we need pagination -->
				<div class="three-item_carousel-pagination"></div>

			</div>

		</div>
	</section>
	<!-- End Assistance One -->

	<!-- LiveChat -->
	<section class="livechat" id="automation_services">
		<div class="auto-container">
			<div class="row clearfix">
				<div class="sec-title style-two centered">
					<div class="sec-title_title">RPA BOT</div>
					<h2 class="sec-title_heading">Unlock New Levels of Efficiency with <br> <span>Automation Service</span></h2>
				</div>
				
				<!-- Image Column -->
				<div class="livechat_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="livechat_image-outer">
						<div class="livechat-agent"><i><img src="/static/assets/images/icons/livechat-stars.png" alt="" /></i> Automation</div>
						<div class="livechat-layer" style="background-image: url(/static/assets/images/background/service-three_bg.png)"></div>
						<div class="livechat-icon" style="background-image: url(/static/assets/images/icons/livechat-icon.png)"></div>
						<div class="color-layer"></div>
						<img src="/static/assets/images/resource/livechat (1).png" alt="" />
					</div>
				</div>

				<!-- Content Column -->
				<div class="livechat_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="livechat_content-outer" style="padding-top: 0 !important;">
						<!-- Sec Title -->
						<div class="sec-title style-two title-anim">
							<div class="sec-title_text">At <b>Dynamic Labz</b>, our automation services are designed to streamline your business operations and enhance productivity. By leveraging advanced technologies, we help you automate repetitive tasks, reduce errors, and free up valuable time for your team to focus on strategic initiatives.</div>
						</div>
						<ul class="livechat-list">
							<li><i class="fa-solid fa-check fa-fw"></i>Workflow Automation</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Robotic Process Automation (RPA)</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Business Process Optimization</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Custom Automation Solutions</li>
						</ul>
						<div class="livechat-options d-flex align-items-center flex-wrap">
							<div class="livechat_button">
								<a href="{% url 'Automation_Services' %}" class="template-btn btn-style-one">
									<span class="btn-wrap">
										<span class="text-one">Learn more</span>
										<span class="text-two">Learn more</span>
									</span>
								</a>
							</div>
							<a class="livechat-now" href="{% url 'contact' %}"><i><img src="/static/assets/images/icons/chat.png" alt="" /></i> Contact Us</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End LiveChat -->

	<!-- Counter One -->
	<section class="counter-one">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title style-two centered">
					<div class="sec-title_title">why choose us</div>
					<h2 class="sec-title_heading">Explore why brands <br> <span>choose Dynamic labz.</span></h2>
				</div>
				<div class="row clearfix">

					<!-- Counter Block Two -->
					<div class="counter-block_two col-lg-3 col-md-6 col-sm-6">
						<div class="counter-block_two-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="color-layer"></div>
							<!-- <div class="counter-block_two-count"><span class="odometer" data-count="1"></span><i>M</i></div> -->
							<div class="counter-block_two-count"><i class="fa fa-stopwatch"></i></div>
							<h5 class="counter-block_two-title">Delivery</h5>
							<div class="counter-block_two-text">Timely delivery of digital solutions, ensuring your projects stay on track.</div>
						</div>
					</div>

					<!-- Counter Block Two -->
					<div class="counter-block_two col-lg-3 col-md-6 col-sm-6">
						<div class="counter-block_two-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="color-layer"></div>
							<!-- <div class="counter-block_two-count"><span class="odometer" data-count="3000"></span><i> H+</i></div> -->
							<div class="counter-block_two-count"><i class="fa fa-clock-rotate-left"></i></div>
							<h5 class="counter-block_two-title">Time Saved</h5>
							<div class="counter-block_two-text">Automated processes that save you time, allowing you to focus on strategic growth.</div>
						</div>
					</div>

					<!-- Counter Block Two -->
					<div class="counter-block_two col-lg-3 col-md-6 col-sm-6">
						<div class="counter-block_two-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="color-layer"></div>
							<!-- <div class="counter-block_two-count"><span class="odometer" data-count="160"></span><i>+</i></div> -->
							<div class="counter-block_two-count"><i class="fa fa-arrow-trend-up"></i></div>
							<h5 class="counter-block_two-title">Growth</h5>
							<div class="counter-block_two-text">Innovative solutions that drive business growth and maximize your ROI.</div>
						</div>
					</div>

					<!-- Counter Block Two -->
					<div class="counter-block_two col-lg-3 col-md-6 col-sm-6">
						<div class="counter-block_two-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
							<div class="color-layer"></div>
							<!-- <div class="counter-block_two-count"><i>#</i><span class="odometer" data-count="1"></span></div> -->
							<div class="counter-block_two-count"><i class="fa fa-gear"></i></div>
							<h5 class="counter-block_two-title">Maintenance</h5>
							<div class="counter-block_two-text">Reliable maintenance and support to keep your digital assets running smoothly.</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Counter One -->

	<!-- Tools One -->
	<section class="tools-one" id="website_details">
		<div class="tools-one_shadow" style="background-image: url(/static/assets/images/background/tools-one_shadow.png)"></div>
		<div class="tools-one_bg" style="background-image: url(/static/assets/images/background/tools-bg.png)"></div>
		<div class="tools-one_bg-two" style="background-image: url(/static/assets/images/background/testimonial-one_bg.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title style-two centered">
				<div class="sec-title_title">Our Creations</div>
				<h2 class="sec-title_heading">Experience our <br> <span>Diverse Website Solutions</span></h2>
			</div>
			<div class="animation_mode_three clearfix">

				<!-- Social Block One -->
				<div class="social-block_one">
					<div class="service-block_one-inner">
						<div class="service-block_one-icon">
							<i class="icon-speaker1"></i>
						</div>
						<h5 class="social-block_one-title"><a href="{% url 'Portfolio_Websites' %}">Portfolio Websites</a></h5>
						<div class="social-block_one-text">Showcase your talent and achievements with a bespoke portfolio website. Our designs highlight your unique skills and accomplishments...</div>
						<br>
						<a class="social-block_one-more" href="{% url 'Portfolio_Websites' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
					</div>
				</div>

				<!-- Social Block One -->
				<div class="social-block_one">
					<div class="service-block_one-inner">
						<div class="service-block_one-icon">
							<i class="icon-cart"></i>
						</div>
						<h5 class="social-block_one-title"><a href="{% url 'Ecommerce_Websites' %}">E-commerce Websites</a></h5>
						<div class="social-block_one-text">Elevate your online storefront with our e-commerce expertise. We craft visually appealing, user-friendly platforms that not only showcase your products...</div>
						<a class="social-block_one-more" href="{% url 'Ecommerce_Websites' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
					</div>
				</div>

				<!-- Social Block One -->
				<div class="social-block_one">
					<div class="service-block_one-inner">
						<div class="service-block_one-icon">
							<i class="fa-regular fa-building"></i>
						</div>
						<h5 class="social-block_one-title"><a href="{% url 'Company_Websites' %}">Company Websites</a></h5>
						<div class="social-block_one-text">Make a powerful first impression with our bespoke landing pages. Tailored to convert visitors into leads, our designs focus on simplicity, clarity, and a compelling...</div>
						<a class="social-block_one-more" href="{% url 'Company_Websites' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
					</div>
				</div>

				<!-- Social Block One -->
				<div class="social-block_one">
					<div class="service-block_one-inner">
						<div class="service-block_one-icon">
							<i class="icon-copyright"></i>
						</div>
						<h5 class="social-block_one-title"><a href="{% url 'Landing_Pages' %}">Landing Pages</a></h5>
						<div class="social-block_one-text">Your digital headquarters starts here. Our company websites are more than an online presence – they are a strategic blend of design and functionality...</div>
						<a class="social-block_one-more" href="{% url 'Landing_Pages' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
					</div>
				</div>

				<!-- Social Block One -->
				<div class="social-block_one">
					<div class="service-block_one-inner">
						<div class="service-block_one-icon">
							<i class="fa-regular fa-pen-to-square"></i>
						</div>
						<h5 class="social-block_one-title"><a href="{% url 'Blog_Websites' %}">Blogs</a></h5>
						<div class="social-block_one-text">Fuel your online presence with a captivating blog. Whether you're a seasoned writer or a brand looking to share insights, our blog designs are tailored...</div>
						<a class="social-block_one-more" href="{% url 'Blog_Websites' %}">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></a>
					</div>
				</div>

			</div>

			<div class="tools-one_button text-center">
				<a href="{% url 'Website_Development' %}" class="template-btn btn-style-one">
					<span class="btn-wrap">
						<span class="text-one">Learn more</span>
						<span class="text-two">Learn more</span>
					</span>
				</a>
			</div>

		</div>
	</section>
	<!-- End Tools One -->

	<!-- Services One -->
	<section class="services-one" style="display: none !important;">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title style-two centered">
				<div class="sec-title_title">Our Creations</div>
				<h2 class="sec-title_heading">Experience our <br> <span>Diverse Website Solutions</span></h2>
			</div>
			<div class="row clearfix">

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-speaker1"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'Portfolio_Websites' %}">Portfolio Websites</a></h5>
						<div class="service-block_one-text">Showcase your talent and achievements with a bespoke portfolio website. Our designs highlight your unique skills and accomplishments...</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">01</div>
							<a class="service-block_one-join" href="{% url 'Portfolio_Websites' %}">Learn More <i class="fa-solid fa-arrow-right fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-marketing"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'Ecommerce_Websites' %}">E-commerce Websites</a></h5>
						<div class="service-block_one-text">Elevate your online storefront with our e-commerce expertise. We craft visually appealing, user-friendly platforms that not only showcase your products...</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">02</div>
							<a class="service-block_one-join" href="{% url 'Ecommerce_Websites' %}">Learn More <i class="fa-solid fa-arrow-right fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-users"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'Company_Websites' %}">Company Websites</a></h5>
						<div class="service-block_one-text">Make a powerful first impression with our bespoke landing pages. Tailored to convert visitors into leads, our designs focus on simplicity, clarity, and a compelling...</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">03</div>
							<a class="service-block_one-join" href="{% url 'Company_Websites' %}">Learn More <i class="fa-solid fa-arrow-right fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-copyright"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'Landing_Pages' %}">Landing Pages</a></h5>
						<div class="service-block_one-text">Your digital headquarters starts here. Our company websites are more than an online presence – they are a strategic blend of design and functionality...</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">04</div>
							<a class="service-block_one-join" href="{% url 'Landing_Pages' %}">Learn More <i class="fa-solid fa-arrow-right fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block One -->
				<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_one-icon">
							<i class="icon-tag"></i>
						</div>
						<h5 class="service-block_one-heading"><a href="{% url 'Blog_Websites' %}">Blogs</a></h5>
						<div class="service-block_one-text">Fuel your online presence with a captivating blog. Whether you're a seasoned writer or a brand looking to share insights, our blog designs are tailored...</div>
						<div class="lower-box d-flex justify-content-between align-items-center flex-wrap">
							<div class="service-block_one-number">05</div>
							<a class="service-block_one-join" href="{% url 'Blog_Websites' %}">Learn More <i class="fa-solid fa-arrow-right fa-fw"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block_two col-lg-4 col-md-6 col-sm-12">
					<div class="service-block_two-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_two-sideicon" style="background-image:url(/static/assets/images/icons/service-1.png)"></div>
						<div class="service-block_two-icon">
							<img src="/static/assets/images/icons/service.png" alt="" />
						</div>
						<h5 class="service-block_two-heading"><a href="service-detail.html">More service</a></h5>
						<div class="service-block_two-text">Lorem ipsum dolor sit ame consectetur.</div>
						<div class="service-block_two-button">
							<a href="service.html" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">learn more</span>
									<span class="text-two">learn more</span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Services One -->
	
	<!-- Conversation One -->
	<section class="conversation-one" id="lead_gen_bot">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="conversation-one_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="conversation-one_content-outer" style="padding-top: 0 !important;">
						<!-- Sec Title -->
						<div class="sec-title style-two title-anim">
							<div class="sec-title_title">Triple Your Leads!</div>
							<h2 class="sec-title_heading">Drive conversions with a potential <span>90% increase</span></h2>
							<!-- <h2 class="sec-title_heading">Boost Your Conversion Rate by <span>90%</span> with Our Lead Generation Bots</h2> -->
							<div class="sec-title_text">Unlock the full potential of your sales funnel with Dynamic Labz’s lead generation bots. Designed to capture and nurture leads effortlessly, our intelligent bots ensure you never miss an opportunity. Let our technology drive your business growth with precision and efficiency.</div>
						</div>
						<ul class="livechat-list">
							<li><i class="fa-solid fa-check fa-fw"></i>Automated Lead Capture</li>
							<li><i class="fa-solid fa-check fa-fw"></i>24/7 Engagement</li>
							<li><i class="fa-solid fa-check fa-fw"></i>Seamless Integration</li>
						</ul>
						<div class="livechat-options d-flex align-items-center flex-wrap">
							<div class="livechat_button">
								<a href="{% url 'Lead_Generation_Bot' %}" class="template-btn btn-style-one">
									<span class="btn-wrap">
										<span class="text-one">Learn more</span>
										<span class="text-two">Learn more</span>
									</span>
								</a>
							</div>
							<a class="livechat-now" href="{% url 'contact' %}"><i><img src="/static/assets/images/icons/chat.png" alt="" /></i> Contact Us</a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="conversation-one_chat-column col-lg-6 col-md-12 col-sm-12">
					<div class="conversation-one_chat-outer">
						<div class="conversation-one_image">
							<img src="/static/assets/images/resource/chats.png" alt="" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Conversation -->

	<!-- Clients One -->
	<section class="clients-one">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title style-two light centered">
					<div class="sec-title_title">Trusted organizations</div>
					<h2 class="sec-title_heading"><span>Trusted by</span> businesses <br> & online stores</h2>
				</div>
				<div class="clients-box_one">
					<div class="animation_mode">

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/1.png" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/2.png" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/3.png" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/4.png" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/5.png" alt="" />
							</a>
						</div>

						<!-- Client Box -->
						<div class="clients-box">
							<a href="#">
								<img src="/static/assets/images/clients/6.png" alt="" />
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Clients One -->

	<!-- Order One -->
	<section class="order-one" id="ecommerce_asst">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="order-one_skill-column col-lg-6 col-md-12 col-sm-12">
					<div class="order-one_skill-outer">
						<div class="image">
							<img src="/static/assets/images/resource/skill.png" alt="" />
						</div>
					</div>
				</div>
				<!-- Column -->
				<div class="order-one_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="order-one_content-outer">
						<!-- Sec Title -->
						<div class="sec-title style-two title-anim">
							<div class="sec-title_title">E-Commerce</div>
							<h2 class="sec-title_heading">Elevate Your <span>Ecommerce Online Store</span></h2>
						</div>

						<!-- Accordion Box Three -->
						<ul class="accordion-box_three">
												
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active">
									<div class="icon-outer">
										<span class="icon fa-solid fa-user fa-fw"></span>
									</div>
									Enhanced User Experience
								</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">Create an intuitive and engaging shopping experience with optimized navigation, responsive design, and personalized recommendations.</div>
										<a class="learn-more" href="{% url 'E_Commerce_Assistance' %}">Learn More <i class="fa-solid fa-plus fa-fw"></i></a>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn">
									<div class="icon-outer">
										<span class="icon fa-solid fa-chart-line fa-fw"></span>
									</div>
									Powerful Admin Dashboard
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Gain full control of your store with a robust admin dashboard that provides real-time insights, detailed analytics, and easy management of products, orders, and customers.</div>
										<a class="learn-more" href="{% url 'E_Commerce_Assistance' %}">Learn More <i class="fa-solid fa-plus fa-fw"></i></a>
									</div>
								</div>
							</li>

							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn">
									<div class="icon-outer">
										<span class="icon fa-solid fa-money-bill-1 fa-fw"></span>
									</div>
									Secure Payment Integration
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">Implement secure and diverse payment options to build customer trust and streamline the checkout process, increasing conversion rates.</div>
										<a class="learn-more" href="{% url 'E_Commerce_Assistance' %}">Learn More <i class="fa-solid fa-plus fa-fw"></i></a>
									</div>
								</div>
							</li>

						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Order One -->

	<!-- Testimonial Two -->
	<section class="testimonial-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title style-two">
				<div class="sec-title_title">TESTIMONIAL</div>
				<h2 class="sec-title_heading">What our respectable <br> <span>clients says</span></h2>
			</div>
			<div class="inner-container">
				<div class="single-item_carousel swiper-container">
					<div class="swiper-wrapper">
		
						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
									<div class="row clearfix">
										<!-- Content Column -->
										<div class="testimonial-block_two-content-column col-12">
											<div class="testimonial-block_two-content-outer">
												<div class="testimonial-block_two-author_box" style="margin-top: 0 !important; padding: 0; padding-bottom: 20px;">
													<!-- <div class="testimonial-block_two-author-image">
														<img src="/static/assets/images/resource/author-5.png" alt="" />
													</div> -->
													Juhi Shah <span>MD of VPPL</span>
												</div>
												<div class="testimonial-block_two-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_two-text" style="margin-top: 20px !important;">Dynamic Labz transformed our online presence with a stunning, user-friendly website. Their team was professional, responsive, and delivered beyond our expectations. Highly recommended!</div>
											</div>
										</div>
										<!-- Image Column -->
										<!-- <div class="testimonial-block_two-image-column col-lg-5 col-md-8 col-sm-12">
											<div class="testimonial-block_two-image-outer">
												<div class="testimonial-block_two-quote fa-solid fa-quote-left fa-fw"></div>
												<div class="testimonial-block_two-image">
													<img src="/static/assets/images/resource/testimonial.jpg" alt="" />
												</div>
											</div>
										</div> -->
									</div>
									
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
									<div class="row clearfix">
										<!-- Content Column -->
										<div class="testimonial-block_two-content-column col-12">
											<div class="testimonial-block_two-content-outer">
												<div class="testimonial-block_two-author_box" style="margin-top: 0 !important; padding: 0; padding-bottom: 20px;">
													<!-- <div class="testimonial-block_two-author-image">
														<img src="/static/assets/images/resource/author-5.png" alt="" />
													</div> -->
													Karan Vekaria <span>Founder of BioCare</span>
												</div>
												<div class="testimonial-block_two-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_two-text" style="margin-top: 20px !important;">Thanks to Dynamic Labz, our e-commerce store is now seamlessly integrated and easier to manage. Their expertise in automation has saved us countless hours and boosted our sales.</div>
											</div>
										</div>
										<!-- Image Column -->
										<!-- <div class="testimonial-block_two-image-column col-lg-5 col-md-8 col-sm-12">
											<div class="testimonial-block_two-image-outer">
												<div class="testimonial-block_two-quote fa-solid fa-quote-left fa-fw"></div>
												<div class="testimonial-block_two-image">
													<img src="/static/assets/images/resource/testimonial.jpg" alt="" />
												</div>
											</div>
										</div> -->
									</div>
									
								</div>
							</div>
						</div>
						
						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
									<div class="row clearfix">
										<!-- Content Column -->
										<div class="testimonial-block_two-content-column col-12">
											<div class="testimonial-block_two-content-outer">
												<div class="testimonial-block_two-author_box" style="margin-top: 0 !important; padding: 0; padding-bottom: 20px;">
													<!-- <div class="testimonial-block_two-author-image">
														<img src="/static/assets/images/resource/author-5.png" alt="" />
													</div> -->
													Akshat Shah <span>Founder of Sanki Events</span>
												</div>
												<div class="testimonial-block_two-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_two-text" style="margin-top: 20px !important;">Implementing WhatsApp Automation through Dynamic Labz has enhanced our customer communication tremendously. Fast, reliable, and effective. A must-have for any business.</div>
											</div>
										</div>
										<!-- Image Column -->
										<!-- <div class="testimonial-block_two-image-column col-lg-5 col-md-8 col-sm-12">
											<div class="testimonial-block_two-image-outer">
												<div class="testimonial-block_two-quote fa-solid fa-quote-left fa-fw"></div>
												<div class="testimonial-block_two-image">
													<img src="/static/assets/images/resource/testimonial.jpg" alt="" />
												</div>
											</div>
										</div> -->
									</div>
									
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
			<!-- If we need pagination -->
			<div class="single-item_carousel-pagination"></div>

			<div class="testimonial-two_arrows">
				<!-- If we need navigation buttons -->
				<div class="single-item_carousel-prev fa-solid fa-angle-left fa-fw"></div>
				<div class="single-item_carousel-next fa-solid fa-angle-right fa-fw"></div>
			</div>

		</div>
	</section>
	<!-- End Testimonial Two -->

	<!-- Community One -->
	<section class="community-one" style="padding-bottom: 40px;">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title style-two centered">
					<div class="sec-title_title">CONNECT NOW</div>
					<h2 class="sec-title_heading">Connect now to get started in your <br> <span>digital transformation journey.</span></h2>
				</div>
				<div class="newsletter-box">
					<form id="main_one_form">
						<div class="form-group">
							<span class="icon fa-regular fa-envelope fa-fw"></span>
							<input type="email" name="search-field" id="main_one_email_id" value="" placeholder="Enter business email" required>
							<button type="button" onclick="main_one_email()" class="template-btn btn-style-one" id="main_one_submit_btn">
								<span class="btn-wrap">
									<span class="text-one" id="main_one_submit_btn_one">Connect</span>
									<span class="text-two" id="main_one_submit_btn_two">Connect</span>
								</span>
							</button>
						</div>
					</form>
				</div>
				<!-- <ul class="community-one_list">
					<li><i class="fa-solid fa-check fa-fw"></i>Free 1  month trail</li>
					<li><i class="fa-solid fa-check fa-fw"></i>Free No credit card required</li>
				</ul> -->
				<div class="community-one_image">
					<img src="/static/assets/images/resource/community.png" alt="" />
				</div>
			</div>
		</div>
	</section>
	<!-- End Community One -->

	<!-- Social One -->
	<section class="social-one">
		<div class="social-one_bg-shadow" style="background-image:url(/static/assets/images/background/social-bg.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="sec-title_title">Integrations</div>
				<h2 class="sec-title_heading">Incorporate our automation tool into <br> <span>your everyday tasks</span></h2>
			</div>
			<div class="social-one_logo">
				<span><img src="/static/assets/images/icons/social-logo.png" alt="" /></span>
			</div>
			<div class="inner-container">
				<div class="social-one_bg" style="background-image:url(/static/assets/images/background/social-one_pattern.png)"></div>
				<div class="social-one_bg-two" style="background-image:url(/static/assets/images/background/social-one_pattern-two.png)"></div>
				
				<div class="social-box_one">
					<div class="animation_mode">
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-1.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-2.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-3.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-4.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-5.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-6.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-7.png" alt="" />
							</a>
						</div>
					</div>
				</div>

				<div class="social-box">
					<div class="animation_mode_two">
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-8.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-9.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-10.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-11.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-12.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-13.png" alt="" />
							</a>
						</div>
						<!-- Icon -->
						<div class="social_icon-box">
							<a href="#">
								<img src="/static/assets/images/icons/social-14.png" alt="" />
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Social One -->

	<!-- News One -->
	<section class="news-one style-two" style="display: none !important;">
		<div class="news-one_shadow-two" style="background-image:url(/static/assets/images/background/news-shadow-2.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title style-two">
				<div class="d-flex justify-content-between align-items-end flex-wrap">
					<div class="left-box">
						<div class="sec-title_title">OUR BLOG</div>
						<h2 class="sec-title_heading">Read our latest <span>blogs</span></h2>
					</div>
					<div class="news-two_button">
						<div class="livechat_button">
							<a href="about.html" class="template-btn btn-style-one">
								<span class="btn-wrap">
									<span class="text-one">Learn more</span>
									<span class="text-two">Learn more</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="three-item_carousel swiper-container">
				<div class="swiper-wrapper">
	
					<!-- Slide -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="news-detail.html"><img src="/static/assets/images/resource/news-1.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<div class="news-block_one-time">By Admin <span>6 min read</span></div>
									<h5 class="news-block_one-title"><a href="news-detail.html">Transforming industries and shaping the future</a></h5>
									<a class="news-block_one-more" href="service-detail.html">Read more <i class="fa-solid fa-plus fa-fw"></i></a>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="news-detail.html"><img src="/static/assets/images/resource/news-2.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<div class="news-block_one-time">By Admin <span>6 min read</span></div>
									<h5 class="news-block_one-title"><a href="news-detail.html">Exploring the cutting-edge of artificial intelligence</a></h5>
									<a class="news-block_one-more" href="service-detail.html">Read more <i class="fa-solid fa-plus fa-fw"></i></a>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- News Block One -->
						<div class="news-block_one">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="news-detail.html"><img src="/static/assets/images/resource/news-3.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<div class="news-block_one-time">By Admin <span>6 min read</span></div>
									<h5 class="news-block_one-title"><a href="news-detail.html">Understanding the basics of artificial intelligence</a></h5>
									<a class="news-block_one-more" href="service-detail.html">Read more <i class="fa-solid fa-plus fa-fw"></i></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- If we need pagination -->
				<div class="three-item_carousel-pagination"></div>
			</div>
		</div>
	</section>
	<!-- End News One -->

	{% include 'footer.html' %}
</div>
<!-- End PageWrapper -->

<div class="progress-wrap">
	<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
	</svg>
</div>

<script src="/static/assets/js/jquery.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/appear.js"></script>
<script src="/static/assets/js/parallax.min.js"></script>
<script src="/static/assets/js/tilt.jquery.min.js"></script>
<script src="/static/assets/js/jquery.paroller.min.js"></script>
<script src="/static/assets/js/wow.js"></script>
<script src="/static/assets/js/swiper.min.js"></script>
<script src="/static/assets/js/backtotop.js"></script>
<script src="/static/assets/js/odometer.js"></script>
<script src="/static/assets/js/parallax-scroll.js"></script>

<script src="/static/assets/js/gsap.min.js"></script>
<script src="/static/assets/js/SplitText.min.js"></script>
<script src="/static/assets/js/ScrollTrigger.min.js"></script>
<script src="/static/assets/js/ScrollToPlugin.min.js"></script>
<script src="/static/assets/js/ScrollSmoother.min.js"></script>

<script src="/static/assets/js/touchspin.js"></script>
<script src="/static/assets/js/jquery.marquee.min.js"></script>
<script src="/static/assets/js/magnific-popup.min.js"></script>
<script src="/static/assets/js/nav-tool.js"></script>
<script src="/static/assets/js/jquery-ui.js"></script>
<script src="/static/assets/js/element-in-view.js"></script>
<script src="/static/assets/js/script.js"></script>

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</body>
</html>